body {
  padding: 40px;
  font-family: "helvetica neue", sans-serif;
}

.container {
  width: 600px;
  margin: auto;
  color: black;
  padding: 20px;
  text-align: center;
}

.container h1 {
  margin: 0;
  padding: 20px;
  font-size: 48px;
}

.container .btn {
  border: 0;
  padding: 15px;
  margin: 10px;
  width: 40%;
  font-size: 15px;
  outline: none;
  border-radius: 3px;
  color: #FFF;
  font-weight: bold;
}

#todosList li {
  list-style-type: none;
  font-size: 25px;
}

input {
  padding: 5px;
  font-size: 20px;
}

.btn.btn-blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}

.btn.btn-blue:hover {
   background-color: #6FC6FF;
}

.btn.btn-blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}

.btn.btn-blue:hover {
   background-color: #6FC6FF;
}

.pending {
  color: #55acee;  
}

.error {
  color: #d84a4a;
}

.success {
  color: #2ecc71;  
}

